.task {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  border: 1px solid var(--gray-400);

  transition: border 1s;
}

.task + .task {
  margin-top: 0.75rem;
}

.task td .notDoneBtn {
  background: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;
  width: calc(1rem + 2px);
  height: calc(1rem + 2px);
  cursor: pointer;
  margin-top: 0.125rem;

  transition: color 0.1s, background-color 0.1s;
}

.task td .notDoneBtn:hover {
  background: rgba(30, 111, 159, 0.3);
  border: 2px solid var(--blue-dark);
  opacity: 0.9;
}

.task td:first-child > .notDoneBtn:focus {
  outline: transparent;
  box-shadow: none;
}

.task td {
  font-size: 0.875rem;
  color: var(--gray-100);
  line-height: 1.4;
  transition: color 1s;
}

.taskDone {
  border: 1px solid var(--gray-500);
}

.taskDone td {
  text-decoration: line-through;
  color: var(--gray-300) !important;
}

.task td:first-child > .doneBtn {
  background: transparent;
  border: 0;
}

.task td:first-child > .doneBtn:focus {
  outline: transparent;
  box-shadow: none;
}

.task td:first-child > .doneBtn svg {
  color: var(--gray-100);
  background: var(--purple-dark);
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  margin-top: calc(1rem - 15px);

  transition: color 0.1s, background-color 0.1s;
}

.task td:first-child > .doneBtn svg:hover {
  background: var(--purple);
}

.task td:last-child {
  margin-left: auto;
}

.task td .deleteBtn {
  margin-top: -0.125rem;
  background: transparent;
  border: 0;
  line-height: 0;
  padding: calc(1rem - 11px) 0.375rem;
  color: var(--gray-300);
  border-radius: 8px;
  cursor: pointer;

  transition: color 0.1s, background-color 0.1s;
}

.task td .deleteBtn:hover {
  background: var(--gray-400);
  color: var(--danger);
  border-radius: 8px;
}
